@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa&family=Poppins&family=Sen&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  min-width: auto;
  min-height: auto;
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.mapboxgl-ctrl-bottom-left, 
.mapboxgl-ctrl-bottom-right {
  display: none;
}
