@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa&family=Poppins&family=Sen&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  min-width: auto;
  min-height: auto;
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.mapboxgl-ctrl-bottom-left, 
.mapboxgl-ctrl-bottom-right {
  display: none;
}

.onHover:hover {
  background-color: #f6f6f6;
}
.onHover2:hover {
  background-color: rgb(235, 238, 241);
}
.onHover-dark:hover {
  background-color: rgb(68, 68, 68) !important;
}

/* Style the scrollbar itself */
::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  margin-left: 10px;
  background: none; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: #006AFF; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}


/* Custom Styles for Calendar Component in Modal*/
.MuiPickersLayout-root {
  background-color: #333333 !important;
}

main .MuiPickersLayout-root {
  background-color: white !important;
}
.modal .MuiTypography-root, 
.modal .MuiButtonBase-root {
  color: white !important;
}
.MuiDialogActions-root button, 
main .MuiPickersToolbar-root  {
  display: none;
}

.MuiTypography-root, 
.MuiButtonBase-root, 
.MuiPickersLayout-root, 
.MuiPickersCalendarHeader-label {
  font-family: "Poppins", sans-serif !important;
}
